    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/3ca309fe9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-D6lAkSjYSB8uhP0CgsZGjftj9znKv/2tSHO1+l1dBn+eeh1Tpg20MIqBMh9ImdnYEGuhYx9nFmc4ZGKwUcpCMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a routerLink="/admin/adminDashboard"  class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Flight Tracker - Admin</h3>
                </a>
                <div class="navbar-nav w-100">
                    <a routerLink="/admin/dashboard" class="nav-item nav-link">Dashboard</a>
                    <a routerLink="/admin/manageuser" class="nav-item nav-link">Manage Users</a>
                    <a routerLink="/admin/manageflight" class="nav-item nav-link">Manage Flights</a>
                    <a routerLink="/admin/manageairport" class="nav-item nav-link">Manage Airports</a>
                    <a routerLink="/admin/managehome" class="nav-item nav-link">Manage Home</a>
                    <a routerLink="/admin/profitloss" class="nav-item nav-link">Profits/Losses Report</a>
                    <a routerLink="/admin/Report" class="nav-item nav-link">Report</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
